<div class="footer">
        
    <div class="socials">
        <h5>Follow us on</h5><br>
        <a href="#">
            <img src="/img/instagram.png" alt="insta">
        </a>
        <a href="#">
            <img src="/img/linkedin.png" alt="linkedin">
        </a>
        <a href="#">
            <img src="/img/twitter.png" alt="twitter">
        </a>
        <a href="#">
            <img src="/img/discord.png" alt="discord">
        </a>
    </div>
</div>
</body>
</html>